<h1>Listing useroks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @useroks.each do |userok| %>
  <tr>
    <td><%= userok.name %></td>
    <td><%= userok.email %></td>
    <td><%= link_to 'Show', userok %></td>
    <td><%= link_to 'Edit', edit_userok_path(userok) %></td>
    <td><%= link_to 'Destroy', userok, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userok', new_userok_path %>
